* {
  box-sizing: border-box;
}

.lobster-regular {
  font-family: 'Lobster', serif;
  font-weight: 400;
  font-style: normal;
  color: #e48832;
}

.open-sans-reg {
  font-family: 'Open Sans', serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

body {
  margin: 0;
  font-family: 'Open Sans', serif;
  font-style: normal;
  background-color: #2d3036;
  color: #fefee3;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.gameBoard {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #706170;
  padding: 1rem;
  border-radius: 1rem;
}

header {
  text-align: center;
  max-width: 29rem;
}

header > h1 {
  margin: 0.5rem;
  font-size: 4rem;
  text-shadow: 0px -2px 11px 0px #4e434e;
}

.msg-container {
  width: 100%;
  max-width: 22rem;
  height: 4rem;
  background-color: #873714;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 1rem;
  box-shadow: inset 2px 2px 5px 2px #3b4047;
}

.msg-container.fail {
  background-color: #d8623e;
}

.msg-container.win {
  background-color: #eca703;
}

.msg-container > h2 {
  font-size: 1.3rem;
  margin-bottom: -0.4rem;
  margin-top: 0.2rem;
}

.msg-container > p {
  margin: 0.3rem;
}

.cats {
  display: flex;
  flex-wrap: wrap;
  max-width: 24rem;
  gap: 0.8rem;
  justify-content: center;
  margin: 1rem;
}

.cats > button {
  all: unset;
  width: 4rem;
  height: 4rem;
  border-radius: 30%;
  box-shadow: 0px -2px 11px 0px #4e434e;
  font-size: min(0);
}

/* Use instead if want backgrounds to show */
/* .cats > button > img.lose {
  visibility: hidden;
} */

/* use display: none for flexed layout */
.cats > button.lose {
  visibility: hidden;
}

img {
  width: 100%;
  height: 100%;
}

.word-div {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 1.5rem;
  column-gap: 0.2rem;
  margin: 1.5rem;
}

.word-div > span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-bottom: 3px solid #afaf9b;
  border-radius: 2px 2px 0px 0px;
  background-color: #685968;
  box-shadow: inset 0px 1px 7px 1px #524452;
}

.word-div > span.missed-letter {
  color: #e95021;
}

.keyboard {
  margin: 0.4rem 0.6rem 0.5rem;
}

.upper-keys {
  display: grid;
  grid-template-columns: repeat(10, 2.5rem);
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}

.lower-keys {
  display: flex;
  justify-content: center;
  column-gap: 0.5rem;
  margin-top: 0.5rem;
}

button.keys {
  text-align: center;
  background: linear-gradient(0deg, #d3ad89 0%, #be7c3d 40%);
  height: 2.5rem;
  width: 2.5rem;
  border: none;
  border-radius: 5px;
  color: #fefee3;
  font-size: 1.1rem;
  box-shadow: 0px -2px 11px 0px #4e434e;
}

button.new-game {
  width: 6.2rem;
  height: 2.5rem;
  padding: 0.3rem;
  background: linear-gradient(0deg, #ebc56e 0%, #eca703 40%);
  border: none;
  color: #fefee3;
  font-size: 0.9rem;
  border-radius: 5px;
  box-shadow: 0px -2px 11px 0px #4e434e;
  margin-bottom: 0.3rem;
}

.hidden {
  visibility: hidden;
}

button.keys:hover:enabled,
button.new-game:hover:enabled {
  filter: brightness(110%);
}

button.keys:before,
button.new-game:before {
  height: 0%;
  width: 2px;
}

button.keys:active:enabled {
  box-shadow: 4px 4px 6px 0 #7c6b7c, -4px -4px 6px 0 #747d8880,
    inset -4px -4px 6px 0 #ffffff33, inset 4px 4px 6px 0 #3a1d04;
}

button.new-game:active:enabled {
  box-shadow: 4px 4px 6px 0 #7c6b7c, -4px -4px 6px 0 #747d8880,
    inset -4px -4px 6px 0 #ffffff33, inset 4px 4px 6px 0 #2d3036;
}

button {
  font-family: 'Open Sans', serif;
  font-weight: 600;
  cursor: pointer;
}

button.keys.letter-right {
  background: linear-gradient(0deg, #7cdba5 0%, #4c956c 40%);
}

button.keys.letter-wrong {
  background: linear-gradient(0deg, #d8623e 0%, #9e4226 50%);
  color: #3a1d04;
}

button.keys:disabled {
  cursor: grabbing;
  opacity: 0.5;
}

/* How to disable any div (not just inputs /buttons etc) */
.disabled-div {
  cursor: grabbing;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media only screen and (max-width: 768px) {
  .gameBoard {
    max-width: 100%;
  }
  .keyboard {
    width: 90%;
  }

  header > h1 {
    font-size: 3rem;
  }
}

/* .cats {
  display: grid;
  grid-template-columns: repeat(5, 5rem);
  row-gap: 0.8rem;
  justify-content: center;
  margin: 1rem;
} */

/* * White #fefee3
 * pink #ffc9b9
 * orange #d68c45
 * green #4c956c
 * darker green #2c6e49
 * grey #383b43 */
